{% extends "marchingtbirds/base.html" %}
{% load static %}

{% block content %}

    <h2>Marchingtbirds.tk Privacy Policy</h2>

    <p>Marchingtbirds.tk is the official website for the Mahwah High School Marching Thunderbirds Band, Mahwah, NJ.
        We know that it is important to protect the personal information of our users, and we take your privacy very
        seriously. By visiting our site, you are accepting the practices outlined in the policy below. If you are
        unsatisfied with the manner in which we collect data or do not wish to have your data collected by our site,
        please do not use this site.</p>

    <p>This privacy policy covers Marchingtbird.tk’s treatment of personal information that is gathered when you are on
        our site and when you use our services. This policy does not apply to the practices of third parties that
        Marchingtbirds.tk does not own or control.</p>

    <hr />

    <h4>1. Information collected by Marchingtbirds.tk</h4>

    <p>We only collect personal information that is relevant to the purpose of our website and the Marching Thunderbirds
        Band. We collect the following types of information from our users:</p>

    <h5>1.1. Information you provide to us</h5>

    <p>We receive and store data you provide to us on our servers. This data includes your username, password, and other
        information you submit while filling out our user registration form. It also includes the data you submit when
        filling out your user profile, which is necessary for you or your student’s participation in the Marching
        Thunderbirds Band. Some of this information is required to be gathered by law and other information helps us
        to better ensure the safety of you or your student. You can choose not to provide us with personal information,
        but this may limit you or your child’s ability to participate in the Marching Thunderbirds Band. If you do not
        wish to provide this information via our website, paper copies of our registration form can be made available.</p>

    <h5>1.2. Information we provide to you</h5>

    <p>One of the functions we provide on our website, if uniform captains and parents choose to use the feature, is
        information about the student’s uniform. This information is stored along with your other data on our server.</p>

    <h5>1.3. Automatic information</h5>

    <p>Marchingtbirds.tk uses <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a>, a third party service, to collect visitor data and analyze traffic on
        our site. This information helps us to manage our site traffic and better meet the needs of our users. When you
        visit our site, the pages you view and a piece of data called a “cookie” are downloaded to your computer. The
        cookie is used to store information about you but does not contain personal details besides information
        about your computer, IP address, and geographic location. This information is sent to Google Analytics and
        used for traffic analysis only. Depending on the browser you use, you can set your preferences to block/refuse
        cookies or notify you before they are downloaded. See their
        <a href="http://www.google.com/analytics/terms/us.html">terms of service</a> for more information.</p>

    <hr />

    <h4>2. E-mail communications</h4>

    <p>Though Marchingtbirds.tk collects e-mail address data from you and your student, this data will never be used to
        send you or your student e-mail other than the communications you receive from the Marching Thunderbirds staff
        and officers. If you receive an e-mail from our website that did not come from the staff or officers, it is
        likely that this is a malicious e-mail and should be reported to the staff immediately. Please do not open
        or click links in these e-mails, as they can lead to the compromising of your account. Delete the email
        immediately.</p>

    <hr />

    <h4>3. Sharing your information</h4>

    <p>The information you provide to Marchingtbirds.tk will never be shared with third parties under any
        circumstances - ever. However, it will be visible internally to our staff, uniform volunteers and captains,
        and our web design team:</p>

    <h5>3.1. Marching band staff</h5>

    <p>All personal information you provide will be available to the marching band staff. This information is necessary
        for the proper functioning of the band and for creating a safe environment for students. The information you
        provide through our site takes the place of paper forms you may have previously filled out.</p>

    <h5>3.2. Captains, parents, and other volunteers</h5>

    <p>When assigning you or your student their uniform parts, uniform parents and captains may have access to some
        information about you or your student. This information is limited to the student’s name, class year,
        instrument, and t-shirt size. We have taken security measures to ensure that all other information is
        hidden from these volunteers. If we discover that captains, parents, or other volunteers are attempting
        to circumvent these security measures, their accounts will be immediately and permanently suspended from
        our site.</p>

    <h5>3.3. Web design team</h5>

    <p>The web design team will have access to all personal information that you provide. This is necessary for
        the regular maintenance and upkeep of the site and to help staff members troubleshoot problems when they
        arise. The web design team is expressly forbidden from disclosing or using this information in any way
        outside the maintenance of the site.</p>

    <hr />

    <h4>4. Keeping information secure</h4>

    <p>Your Marchingtbirds.tk account information is protected by a password for your privacy and security.
        We are doing the best we can to keep your data secure, but it is equally important for you to pick
        a secure password that will adequately protect your data. In addition, make sure to log out immediately
        after using the site, especially if you are on a shared machine. If you feel that your account
        information or security has been compromised in any way, please contact the Marchingtbirds.tk web staff
        immediately.</p>

    <hr />

    <h4>5. Children under 18 years of age</h4>

    <p>We expect children under 18 to be using Marchingtbirds.tk, which makes sense considering most students
        in the band are under 18. As mentioned earlier, we will never share or disclose information about you or
        your children under any circumstances except to the parties disclosed in section 3. Though we cannot realistically
        enforce it, we recommend that children under 18 only use our site with their parent’s permission.</p>

    <hr />

    <h4>6. Indemnification</h4>

    <p>Marchingtbirds.tk makes the best effort possible to protect your data but we cannot guarantee that our
        security measures will not be compromised. By using our site, you agree that Marchingtbirds.tk cannot
        be held liable in any way for the loss, theft, or unauthorized access or usage of your data specified
        in section 1. Additionally, you agree that in no event shall Marchingtbirds.tk, the marching band staff,
        marching band volunteers, or the web design team be liable under contract, tort, strict liability, negligence
        or other legal theory for any damages, even if either party knew or should have known the possibility thereof.</p>

    <hr />

    <h4>7. Changes to the privacy policy</h4>

    <p>Marchingtbirds.tk reserves the right to amend and change our privacy policy at any time at its sole discretion.
        Use of the information we collect is subject to the privacy policy in effect at the time such information is
        used. If we make changes to the privacy policy, we will notify you by posting an announcement to the
        Marchingtbirds.tk website so you are aware of our policies.</p>

    <hr />

    <h4>8. Effective date of this privacy policy</h4>

    <p>This privacy policy is effective as of January 1, 2015.</p>

{% endblock %}