{% extends "marchingtbirds/base.html" %}
{% load static %}

{% block content %}

    <h2>About Band Camp</h2>

    <p>Band camp is a week-long program that takes place at Mahwah High School each August. During this time, the entire band gets together to train for our season. We're on our feet every day, and this helps build stamina for the season. Unlike at some schools, MHS band camp is not a sleep-away camp, so students go home at the end of each day.</p>

    <p>We do many types of training during the day:
        <ol>
            <li><b>Marching Basics:</b> "Basics" are commands and techniques we use while in the public eye, especially during our field show and while getting on and off the field. If you have ever seen the marching band, you may have heard directors or officers giving commands to the band. Basics help us move from place to place in an organized and uniform fashion.</li>
            <li><b>Music Rehearsal:</b> Show music is learned before band camp but perfected at band camp. Music rehearsals are done either indoors or in the shade to give students a break from the hot sun. Eventually, this music will be put to our drill.</li>
            <li><b>Drill Rehearsal:</b> This is when we learn the formations we make during our field show. Each formation or "set" is one picture that is part of  the entire show, called the "drill". Part of band camp involves learning to march and play all of these sets together.</li>
            <li><b>FUN ACTIVITIES:</b> As fun as all of the hard work of band camp is, we also need to have some down time to have some fun! Band officers plan fun activities and games for everyone to enjoy. There are also ice pops every afternoon!
        </ol>
    </p>

    <p>In general, band camp helps new members get to know the rest of the band and old members reconnect with their long-time friends. By the end of the week, we become a tightly bonded unit through all of the fun we have had. Each day at band camp is a different spirit day where sections show their unity and dedication, but the last day of camp is reserved for our most important day: Section Unity Day. Each section picks a theme and creates costumes in a competition to be the most unified section. Band camp is a lot of serious hard work, however there's always a lot of fun to be had too.</p>

    <img src="{% static 'marchingtbirds/bandcamp.jpg' %}" alt="" />

{% endblock %}