{% extends "marchingtbirds/base.html" %}
{% load static %}

{% comment %}
{% block extrahead %}
    <link rel='stylesheet' href="{% static 'marchingtbirds/fullcalendar/lib/marchingtbirdsui/jquery-ui.min.css' %}" />
    <link href="{% static 'marchingtbirds/fullcalendar/fullcalendar.css' %}" rel='stylesheet' />
    <link href="{% static 'marchingtbirds/fullcalendar/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
    <script src="{% static 'marchingtbirds/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'marchingtbirds/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'marchingtbirds/fullcalendar/gcal.js' %}"></script>
    
    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({

                theme: true,

                themeButtonIcons: {
                    prev: 'carat-1-w',
                    next: 'carat-1-e',
                    prevYear: '',
                    nextYear: ''
                },

                header: {
                    left: '',
                    center: 'title',
                    right: 'today prev,next'
                },

                timezone: 'America/New_York',

                // docs located at http://fullcalendar.io/docs/google_calendar/
                googleCalendarApiKey: 'AIzaSyCd4nO_rgQmCP0zC3V83gsdBn36Bj6le5c',

                // Marching Tbirds Calendar
                events: {
                    googleCalendarId: '5f0qmqm95hls81js78gujokj80@group.calendar.google.com'
                },

                eventColor: '#4c75b1',

                eventClick: function(event) {
                    // opens events in a popup window
                    window.open(event.url, 'gcalevent', 'width=400,height=200');
                    return false;
                },

                loading: function(bool) {
                    $('#loading').toggle(bool);
                }

		    });

        });
    </script>
    <style>

        #loading {
		    display: none;
		    position: absolute;
		    top: 10px;
		    right: 10px;
	    }
        #calendar {
            max-width: 875px;
            margin: 0 auto;
        }

    </style>
{% endblock %}
{% endcomment %}

{% block content %}

    <h2>Full Season Calendar</h2>

    <iframe src="https://www.google.com/calendar/embed?showTabs=0&amp;showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5f0qmqm95hls81js78gujokj80%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>

    <!--<div id='loading'>loading...</div>
	<div id='calendar'></div>-->


    <h2>Tips</h2>

    <p>
        <ol>
            <li>You can print this calendar by selecting the "print" button</li>
            <li>Bring up more information about an event by clicking on it</li>
            <li>Don't forget our attendance policy! Please notify the staff at least <b>1 week before a rehearsal</b> and <b>2 weeks before a performance</b> if you are going to be absent</li>
            <li>Add us to your personal calendar:
                <ul>
                    <li>XML: <a href="https://www.google.com/calendar/feeds/5f0qmqm95hls81js78gujokj80%40group.calendar.google.com/public/basic" target="_blank">https://www.google.com/calendar/feeds/5f0qmqm95hls81js78gujokj80%40group.calendar.google.com/public/basic</a></li>
                    <li>ICAL: <a href="https://www.google.com/calendar/ical/5f0qmqm95hls81js78gujokj80%40group.calendar.google.com/public/basic.ics" target="_blank">https://www.google.com/calendar/ical/5f0qmqm95hls81js78gujokj80%40group.calendar.google.com/public/basic.ics</a></li>
                </ul>
            </li>
        </ol>
    </p>
    <br /><br />
{% endblock %}