{% extends "marchingtbirds/base.html" %}
{% load static %}

{% block content %}

    <h2>Memorial Day</h2>

    <p>Click your instrument name to download your Memorial Day music packet. Each packet should contain music for Service Songs as well as America the Beautiful. Percussionists will not have music for America the Beautiful in their packets, as there are no drums in this piece.</p>

    <table id="mmd"><tr>
        <td class="norm">
            <h5>Woodwinds</h5>
            <p>
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-flute.pdf">Flute/Piccolo</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-clarinet1.pdf">Clarinet 1</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-clarinet2.pdf">Clarinet 2</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-altosax.pdf">Alto Sax</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-tenorsax.pdf">Tenor Sax</a>
            </p>
        </td>

        <td class="norm">
            <h5>Brass</h5>
            <p>
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-trumpet1.pdf">Trumpet 1</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-trumpet2.pdf">Trumpet 2</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-trumpet3.pdf">Trumpet 3</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-mello.pdf">Mellophone</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-trombone1.pdf">Trombone 1</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-trombone2.pdf">Trombone 2</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-baritonebc.pdf">Baritone BC</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/mmd-tuba.pdf">Tuba</a>
            </p>
        </td>

        <td class="norm">
            <h5>Percussion</h5>
            <p>
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/service_songs_-_snare.pdf">Snares</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/service_songs_-_quints.pdf">Quints</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/service_songs_-_bass_drums.pdf">Bass Drums</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/service_songs_-_cymbal.pdf">Cymbals</a>
            </p>
        </td>

        <td class="misc">
            <h5>Miscellaneous</h5>
            <p>
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/service_songs_-_score.pdf">Service Songs - Full Score</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/servicesongs.mp3">Service Songs - Audio File</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/atbscore.pdf">America the Beautiful - Full Score</a><br />
                <a href="https://dl.dropboxusercontent.com/u/39784664/Marching%20Thunderbirds/Memorial%20Day/atb.mp3">America the Beautiful - Audio File</a>
            </p>
        </td>

    </tr></table>

{% endblock %}