{% extends "marchingtbirds/base.html" %}
{% load static %}

{% block content %}

    <h2>Tradition & Philosophy</h2>

    <p style="text-align:center">The Mahwah High School Marching Thunderbird Band has developed a proud tradition of excellence for many years. In becoming a part of this organization, our members assume the responsibility of continuing this proud tradition which has been established through devotion and hard work. The marching band program is dedicated to providing multiple educational opportunities for its students in the performing arts. All activities promote social and artistic development through creative and innovative programs, high quality instruction, and positive leadership training. In addition, it is our belief that "the process is just as important as the product." This places the emphasis on the development and growth of each individual student, not on specific performances.</p>

    <img src="{% static 'marchingtbirds/tradition.jpg' %}" alt="" />

{% endblock %}