{% extends "marchingtbirds/base.html" %}
{% load static %}

{% block content %}

    <span class="user"><br />Logged in as <b>{{ user.first_name }} {{ user.last_name }}</b><br />
    <a href="{% url 'logout' %}">Log out</a></span>
    <h2>Change my password</h2>

    <p>{% if saved %}<a href="/nest/">< Return to dashboard</a>
    {% else %}<a href="/nest/" onclick="return confirm('Are you sure you want to navigate away from this page? Any unsaved changes will be lost.')">< Return to dashboard</a>{% endif %}
    </p>

    {% if message %}<p style="font-weight:bold">{{ message|safe }}</p>{% endif %}

    {% if form %}
    <form id="password_form" method="post" action="/nest/change_password/">
        {% csrf_token %}

        <table id="password-form-table">

            {% for field in form %}

            <tr><td>{{ field.label }}</td><td>{{ field }}
                {% if field.errors %}<span style="color:firebrick"><i class="fa fa-asterisk"></i> {{ field.errors.as_text|cut:"* "|cut:"." }}</span>{% endif %}</td>
            </tr>

            {% endfor %}

            <tr><td colspan="2"><input class="profile_button" type="submit" name="submit" value="Change password" /></td></tr>
        </table>
    </form>
    {% endif %}



{% endblock %}